{% extends 'base.html.twig' %}
 {% block stylesheets %}
     {{ parent()  }}
     <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
     <link rel="stylesheet" href="{{ asset('css/header.css') }}">
 {% endblock %}
{% block body %}
    <div class="fixed-top">
        <header class="topbar">
            <div class="container">
                <div class="row">
                    <!-- social icon-->
                    <div class="col-sm-12">
                        <ul class="social-network">
                            <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </header>
        <nav class="navbar navbar-expand-lg navbar-dark mx-background-top-linear">
            <div class="container">
                <a class="navbar-brand" href="{{ path('driver_home',{'id': driver_assistant.id}) }}" style="text-transform: uppercase; font-style: italic; font-family: 'Microsoft JhengHei Light'"> Express Supplies</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">

                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('driver_assistant_home',{'id': driver_assistant.id}) }}">Home</a>
                        </li>

                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('orderList_show_',{'id': driver_assistant.id}) }}">Orders</a>
                        </li>

                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('driver_assistant_show',{'id': driver_assistant.id}) }}">Account</a>
                        </li>

                        <li class="nav-item active">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>


{% endblock %}