{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}
 {% block stylesheets %}
     {{ parent()  }}
     <link rel="stylesheet" href="{{ asset('css/driverhome.css') }}">
 {% endblock %}

{% block body %}
    {% include 'driver_assistant/header.html.twig' %}

    <div class="space"></div>

    {% if truck_no!='null' %}
    <div class="alert alert-primary" role="alert">
        <h4 class="alert-heading text-center">You have a delivery!</h4>
    </div>
    <div class="space2"></div>

    <div class="container w-75 p-3">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <b>Truck:</b>
                <h3><span class="badge badge-primary badge-pill">{{ truck_no }}</span></h3>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <b>Route:</b>
                <h3><span class="badge badge-primary badge-pill"> {{ route }}</span></h3>
            </li>

        </ul>
    </div>
    {% else %}
        <div class="alert alert-warning" role="alert">
            <h4 class="alert-heading text-center">You do not have a delivery yet!</h4>
            <p></p>
            <hr>
            <p class="mb-0 text-center">Check back in when you have a delivery</p>
        </div>
    {% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent()  }}
{% endblock %}