{% extends 'base.html.twig' %}

{% block title %}Driver Assistant Profile{% endblock %}
 {% block stylesheets %}
     {{ parent()  }}
     <link rel="stylesheet" href="{{ asset('css/driverhome.css') }}">
 {% endblock %}
{% block body %}

    {% include 'driver_assistant/header.html.twig' %}

<div class="space"></div>
<div class="alert alert-dark" role="alert">
    <h4 class="text-center">My Profile</h4>
</div>
<div class="space2"></div>
<div class="container ">
    <table class="table">
        <tbody>
        <tr bgcolor="#b3b3ff">
            <th>Name</th>
            <td>{{ driver_assistant.firstName ~' '~ driver_assistant.lastName }}</td>
        </tr>
        <tr bgcolor="#b3b3ff">
            <th>Email</th>
            <td>{{ driver_assistant.email }}</td>
        </tr>
        <tr bgcolor="#b3b3ff">
            <th>Worked hours for this week</th>
            <td>{{ driver_assistant.workHours ? driver_assistant.workHours|date('H:i:s') : '' }}</td>
        </tr>
        <tr bgcolor="#b3b3ff">
            <th>Status</th>
            <td>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input check" id="customSwitches" value="pop">
                    <label class="custom-control-label check" for="customSwitches"></label>
                    <button class="navbar-toggler check" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" value="pop" >
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

    <input id="id" type="hidden" value="{{ driver_assistant.id }}">

    <div class="space2"></div>
    <div class="container ">
        <div class="row">
            <div class="col text-center">
                <a class="btn btn-outline-primary " href="{{ path('driver_assistant_edit', {'id': driver_assistant.id}) }}" role="button">Edit</a><br><br>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent()  }}
    <script src="{{ asset('js/driver_assistant_status.js') }}"></script>
{% endblock %}
