{% extends 'base.html.twig' %}

{% block title %}Log in{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="../css/signin.css">
{% endblock %}

{% block body %}
<div class="container register-form w-50">
    <div class="form">
        <form method="post">
            {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if is_granted('ROLE_DRIVER_ASSISTANT')  %}
            <div class="row">
                <div class="col-md-12">
                    <div class="mb-3">
                        <div class="lead">
                            <p>You are logged in as {{ app.user.username }}</p> 
                        </div c>
                        <a class="btn btn-submit" href="{{ path('logout_customer') }}">Logout</a>
                    </div>
                </div>
            </div>


            {% else %}

            <div class="note">
                <p> Please Log In</p>
            </div>

            <div class="form-content">
                <div class="row">
                    <div class="col-md-12 pr-4">

                        <div class="form-group">
                            <input type="email" placeholder="Email" value="{{ last_username }}" name="email"
                                id="inputEmail" class="form-control" required autofocus>
                        </div>
                        <div class="form-group">
                            <input type="password" placeholder="Password" name="password" id="inputPassword"
                                class="form-control" required>
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    </div>
                </div>
                <button type="submit" class="btn btn-submit">Log In</button>
            </div>
            {% endif %}
    </div>

   


    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
    </form>
</div>
{% endblock %}