{% extends 'base.html.twig' %}

{% block title %}Placed Orders{% endblock %}

{% block body %}
    <h1>Placed Orders</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Customer</th>
            <th>Products</th>
            <th>City</th>
            <th>Route</th>
            <th>Train Date</th>

        </tr>
        </thead>
        <tbody>
        {% for order in placed %}
            <tr>
                <td>{{ order.getCustomer().getFirstName()~" "~ order.getCustomer().getLastName() }}</td>
                <td>{% for product in order.getOrderProducts() %}
                    {{product.getProduct().getName()}}
                    {% endfor %}
                </td>
                <td>{{ order.getRoute().getStore().getCity()}}</td>
                <td>{{ order.getRoute().getDecription()}}</td>




            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        {% block stylesheets %}
            {{ parent() }}
            <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.css">
        {% endblock %}
        </tbody>
    </table>

{% endblock %}
