{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<h4>Welcome {{ driver.firstName }}!</h4>
    <a href="{{ path('driver_show',{'id': driver.id}) }}" class="w3-button w3-black">My profile</a>

    {% if truck_no!='null' %}
        <h1>You have a delivery!</h1>
        {{ time_start }}
        <p>Your truck number: {{ truck_no }}</p><br>
        <p>Route: {{ route }}</p><br>
        <a href="{{ path('orderList_show',{'truck_schedule_id':truck_schedule_id}) }}" class="w3-button w3-black">View orders</a>
        <form>
            <input class="ajax" type="button" name="Picked" id="Picked" value="Picked">
            <input class="ajax" type="button" name="Delivered" id="Delivered" value="Delivered">
            <input id="user_id" type="hidden" value="{{ driver.id }}">
            <input id="truck_schedule_id" type="hidden" value="{{ truck_schedule_id }}">
        </form>

    {% else %}
    <h1>You do not have any deliveries yet!</h1>
    {% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent()  }}
    <script src="../../js/driverhomebutton.js"></script>
{% endblock %}