{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}
 {% block stylesheets %}
     {{ parent()  }}
     <link rel="stylesheet" href="{{ asset('css/driverhome.css') }}">
 {% endblock %}

{% block body %}
    {% include 'driver/header.html.twig' %}

    <div class="space"></div>

    {% if truck_no!='null' %}
        <div class="alert alert-primary" role="alert">
            <h4 class="alert-heading text-center">You have a delivery!</h4>
            <p></p>
            <hr>
            <p class="mb-0 text-center">Click the buttons below when you complete each section of the delivery</p>
        </div>
        <div class="space2"></div>




        <div class="container w-75 p-3">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Truck:
                    <h3><span class="badge badge-primary badge-pill">{{ truck_no }}</span></h3>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Route:
                    <h3><span class="badge badge-primary badge-pill"> {{ route }}</span></h3>
                </li>

            </ul>
        </div>


        {% if status == "scheduled" %}
            <form>
                <div class="container ">
                    <div class="row">
                        <div class="col text-center">
                           <br><br><input class="ajax btn btn-dark btn-lg w-50 p-3" type="button" name="Picked" id="Picked" value="Picked"><br><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <input class="deliver ajax btn btn-dark btn-lg w-50 p-3 " type="button" style="display: none;" name="Delivered" id="Delivered" value="Delivered">
                        </div>
                    </div>
                </div>
                <input id="user_id" type="hidden" value="{{ driver.id }}">
                <input id="truck_schedule_id" type="hidden" value="{{ truck_schedule_id }}">
            </form>
        {% endif %}
        {% if status == "picked" %}
            <form>
                <div class="container ">
                    <div class="row">
                        <div class="col text-center">
                            <br><br><br><br><input class="deliver ajax btn btn-dark btn-lg w-50 p-3" type="button" name="Delivered" id="Delivered" value="Delivered">
                        </div>
                    </div>
                </div>
                <input id="user_id" type="hidden" value="{{ driver.id }}">
                <input id="truck_schedule_id" type="hidden" value="{{ truck_schedule_id }}">
            </form>
        {% endif %}

    {% else %}
        <div class="alert alert-warning" role="alert">
            <h4 class="alert-heading text-center">You do not have a delivery yet!</h4>
            <p></p>
            <hr>
            <p class="mb-0 text-center">Check back in when you have a delivery</p>
        </div>
    {% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent()  }}
    <script src="{{ asset('js/driverhomebutton.js') }}"></script>
{% endblock %}