{% extends 'base.html.twig' %}

{% block title %}Driver profile{% endblock %}
 {% block stylesheets %}
     {{ parent()  }}
 {% endblock %}
{% block body %}
    <h1>My Profile</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ driver.firstName ~' '~ driver.lastName }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ driver.email }}</td>
            </tr>
            <tr>
                <th>Worked hours for this week</th>
                <td>{{ driver.workHours ? driver.workHours|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitches" value="">
                        <label class="custom-control-label" for="customSwitches"></label>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <input id="id" type="hidden" value="{{ driver.id }}">

    <a href="{{ path('driver_home',{'id': driver.id}) }}">Back</a>

    <a href="{{ path('driver_edit', {'id': driver.id}) }}">Edit</a>

    {{ include('driver/_delete_form.html.twig') }}
{% endblock %}
{% block javascripts %}
    {{ parent()  }}
    <script src="{{ asset('js/driver_status.js') }}"></script>
{% endblock %}
