{% extends 'base.html.twig' %}

{% block title %}Orders{% endblock %}
 {% block stylesheets %}
     {{ parent()  }}
     <link rel="stylesheet" href="{{ asset('css/driverhome.css') }}">
 {% endblock %}

{% block body %}
    {% include 'driver/header.html.twig' %}

    <div class="space"></div>
    <div class="alert alert-primary" role="alert">
        <h4 class="alert-heading text-center">Your orders</h4>
        <p></p>
        <hr>
        <p class="mb-0 text-center">Check each order when it is delivered</p>
    </div>
    <div class="space2"></div>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Order Id</th>
            <th>Customer Name</th>
            <th>Address</th>
            <th>Phone Number</th>
            <th>Delivered</th>
        </tr>
        </thead>
        <tbody>
        {% for truckOrder in truckOrders %}
            <tr>
                <td>{{ truckOrder.getOrders().getId() }}</td>
                <td>{{ truckOrder.getOrders().getCustomer().getFullName() }}</td>
                <td>{{ truckOrder.getOrders().getCustomer().getAddress() }}</td>
                <td>{{ truckOrder.getOrders().getCustomer().getPhoneNumbersAsString()}}</td>
                <td><div><input class="checkbox" type="checkbox" id="checkbox" name="choices" value="{{ truckOrder.getOrders().getId()}}"></div></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">No records found</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

{% endblock %}

{% block javascripts %}
    {{ parent()  }}
    <script src="{{ asset('js/check_order_delivered.js') }}"></script>
{% endblock %}
