{% extends 'base.html.twig' %}

{% block title %}Route{% endblock %}

{% block body %}
    <h1>Route</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ route.id }}</td>
            </tr>
            <tr>
                <th>Decription</th>
                <td>{{ route.decription }}</td>
            </tr>
            <tr>
                <th>Max_time</th>
                <td>{{ route.maxTime ? route.maxTime|date('H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('route_index') }}">back to list</a>

    <a href="{{ path('route_edit', {'id': route.id}) }}">edit</a>

    {{ include('route/_delete_form.html.twig') }}
{% endblock %}
