{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}


{% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
{% endblock %}

{% block body %}
{% apply inline_css %}

<html>
<style>
.products {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    
    flex:1 1 auto;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 400px;
  width: 270px;
  margin: auto;
  text-align: center;
  font-family: arial;
  padding-bottom: 20px;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
</style>


<body>

<h2 style="padding-left:180px; padding-top:20px">Products</h2>

<div style="padding-top:50px; padding-bottom:50px; padding-left: 150px; padding-right:150px">
<div class="products">
{% for product in products %}
    <p style="display:none" value={{ product.id }} id="product_id"></p>
    <div class="card">
    <img src="/images/{{ product.picture }}" alt="product image" style="width:100%">
    <h5>{{ product.name }}</h5>
    <p class="price">{{ product.unitPrice }}</p>
    <p><a href="{{ path('add_to_cart', {'id': product.id}) }}"><button >Add to Cart</button></a></p>
    </div>

{% endfor %}
</div>

</div>
</div>

</body>  

</html>
{% endapply %}

<script>

  function addItem(){
    
    var productID = document.getElementById("product_id").value;
    
    contents = [];

    let _contents = localStorage.getItem("cartkey");
    alert(_contents);
    if(_contents){
      contents = JSON.parse(_contents);
    }
    
    contents.push(productID);
    let _cart = JSON.stringify(contents);
    localStorage.setItem("cartkey", _cart);
    
    return false;
  }

</script>

{% endblock %}

