{% extends 'base.html.twig' %}

{% block title %}cart{% endblock %}

{% block stylesheets %}
     {{ parent()  }}
     <link rel="stylesheet" href="{{ asset('css/cart.css') }}">
 {% endblock %}

{% block body %}

{% include 'customer/header.html.twig' %}

    <body>
        <a href="{{ path('product_display') }}"><button>All products</button></a>
        <h2 class="font" style="padding-left:180px; padding-top:100px">Shopping Cart</h2>
        <main id="main" class="site-content col-xs-9 col-md-9 col-sm-9" style="margin-left: 185px" itemscope="itemscope" itemprop="mainContentOfPage">
        <div id="cart_content">
        <a style="margin-left: 980px"><button class="button" onClick="emptyCart()" >Empty Cart</button></a><br><br>
        <table id="cartTable" class="tbl-cart" cellpadding="10" cellspacing="1">
        </table>
        <br>
        <div class="wc-proceed-to-checkout">

            <a style="margin-left: 930px" href="{{ path('order_checkout', {'id': app.user.id } ) }}" ><button class="button">Proceed to checkout</button></a>
        </div>
        </div>
        </main>
        <p id="customerId" style="display:none">{{ app.user.id }}</p>
    </body>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="js/cart.js" ></script>
{% endblock %}

