{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <h1>Product index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Unit_price</th>
                <th>Size</th>
                <th>Picture</th>
                <th>Category</th>
                <th>Status</th>
                {% if is_granted('ROLE_Manager')  %}
                    <th>actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.unitPrice }}</td>
                <td>{{ product.size }}</td>
                <td>{{ product.picture }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.status }}</td>
                {% if is_granted('ROLE_Manager')  %}
                    <td>
                        <a href="{{ path('product_show', {'id': product.id}) }}">show</a>
                        <a href="{{ path('product_edit', {'id': product.id}) }}">edit</a>
                    </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_Manager')  %}
        <a href="{{ path('product_new') }}">Create new</a>
    {% endif %}
{% endblock %}
