{% extends 'base.html.twig' %}

{% block title %}Orders index{% endblock %}

{% block body %}
    <h1>Orders index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Order_status</th>
                <th>Customer</th>
                <th>Route</th>
                <th>Date_placed</th>
                <th>Date_completed</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.orderStatus }}</td>
                <td>{{ order.customer.getFirstName()~" "~order.customer.getLastName()}}</td>
                <td>{{ order.route }}</td>
                <td>{{ order.datePlaced ? order.datePlaced|date('Y-m-d') : '' }}</td>
                <td>{{ order.dateCompleted ? order.dateCompleted|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('orders_show', {'id': order.id}) }}">show</a>
                    <a href="{{ path('orders_edit', {'id': order.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('orders_new') }}">Create new</a>
{% endblock %}
