{% extends 'base.html.twig' %}

{% block title %}PlaceOrder index{% endblock %}

{% block stylesheets %}
     {{ parent()  }}
     <link rel="stylesheet" href="{{ asset('css/placeOrder.css') }}">
 {% endblock %}

{% block body %}

{% include 'customer/header.html.twig' %}

<h2 class="font" style="padding-left:180px; padding-top:130px">Place Order</h2>

<div style="padding-top:50px; padding-bottom:50px; padding-left: 180px; padding-right:150px">

<label>select route</label>
<select class="custom-select" style="width:400px" id="route" >
    {% for route in routes %}
      <option value={{route.id }}>{{ route.decription }}</option>
    {% endfor %}
  </select>
<br><br>
<div class="box" style="padding-top:50px; padding-bottom:50px; padding-left: 50px" id="order_summary">
    <label>Order Summary</label>
    <br><br>
    <label>total quantity : </label>
    <label id="tot_q"></label>
    <br>
    <label>total price : </label>
    <label id="tot_p"></label>
</div>

<br>
<div>
<a><button class="button" style="width:150px" onClick="checkout()" >place order</button></a>
</div>

</div>
<p id="customerId" style="display:none">{{ app.user.id }}</p>

{% endblock %}

{% block javascripts %}
    {{ parent()  }}
    <script src="../../js/place_order.js"></script>
{% endblock %}