{% extends 'base.html.twig' %}

{% block title %}Orders{% endblock %}

{% block body %}
    <h1>Orders</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ order.id }}</td>
            </tr>
            <tr>
                <th>Order_status</th>
                <td>{{ order.orderStatus }}</td>
            </tr>
            <tr>
                <th>Date_placed</th>
                <td>{{ order.datePlaced ? order.datePlaced|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Date_completed</th>
                <td>{{ order.dateCompleted ? order.dateCompleted|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('orders_index') }}">back to list</a>

    <a href="{{ path('orders_edit', {'id': order.id}) }}">edit</a>

    {{ include('orders/_delete_form.html.twig') }}
{% endblock %}
