{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="../../css/report.css">
{% endblock %}

{% block body %}
<div class="container my-4">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive report-table">
                {% if customers|length > 0 %}
                    <table class="table table-striped">
                        <thead class="col-names">
                            <tr>
                                <th scope="col">Customer ID </th>
                                <th scope="col"> Customer Name</th>
                                <th scope="col">City</th>
                                <th scope="col" >Number of Orders Placed</th>
                                <th scope="col" >Number of Products Ordered</th>
                                <th scope="col" >Payments</th>
                            </tr>
                        </thead>
                        <tbody class="col-body">              
                            {% for customer in customers %}
                                <tr>
                                    <td class="text-center">{{ customer['id'] }}</td>
                                    <td> {{ customer['first_name']~" "~customer['last_name'] }}</td>
                                    <td>{{  customer['city'] }}</td>
                                    <td>{{  customer['order_count'] }}</td>
                                    <td>{{ customer['product_count'] }}</td>
                                    <td class="text-center">{{ "Rs."~customer['paid']}}</td>
                                </tr>
                            {% endfor %}                            
                        </tbody>
                    </table>
                {% else %}
                    <p class="lead">No Products available</p>
                {% endif %} 
            </div>
        </div>
        
    </div>
</div>


{% endblock %}

{% block javascripts %}
   {{ parent() }} 
{% endblock %}