{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="../../css/side_bar.css">
    <link rel="stylesheet" href="../../css/report.css">
{% endblock %}

{% block body %}

        <h2>Driver Assistant Report</h2>
                    <div class="table-responsive report-table">
                        {% if driverAssistants|length > 0 %}
                            <ul class="nav nav-tabs" role="tablist" id="myTab">
                                {% for city, cityDriverAssistants in driverAssistants %}
                                    <li class="nav-item">
                                        {% if (loop.index)==1 %}
                                            <a class="nav-link active" href="{{ '#'~city }}" id="{{ city~'-tab' }}" role="tab" data-toggle="tab" aria-controls="{{ city }}" aria-selected="true">{{ city }}</a>
                                        {% else %}
                                            <a class="nav-link" href="{{ '#'~city }}" id= "{{ city~'-tab' }}" role="tab" data-toggle="tab" aria-controls="{{ city }}" aria-selected="false">{{ city }}</a>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                {% for city, cityDriverAssistants in driverAssistants %}
                                    {% if (loop.index)==1 %}
                                        <div class="tab-pane show fade active" role="tabpanel" id= "{{ city }}" aria-labelledby="{{ city~'-tab' }}">
                                    {% else %}
                                        <div class="tab-pane fade" role="tabpanel" id= "{{ city }}" aria-labelledby="{{ city~'-tab' }}">
                                    {% endif %}
                                    <table class="table table-striped">
                                        <thead class="col-names">
                                            <tr>
                                                <th scope="col"> </th>
                                                <th scope="col">Driver Assistant Name</th>
                                                <th scope="col" >Worked Hours</th>
                                            </tr>
                                        </thead>
                                        <tbody class="col-body">
                                            {% for driverAssistant in cityDriverAssistants %}
                                                <tr>
                                                    <td>{{ loop.index}}</td>
                                                    <td>{{  driverAssistant['first_name']~" "~driverAssistant['last_name'] }}</td>
                                                    <td>{{  driverAssistant['work_hours'] ? driverAssistant['work_hours'] : 0 }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>

                                    </div>
                                {% endfor %}
                            </div>


                        {% else %}
                            <p class="lead">No Driver assistants available</p>
                        {% endif %}
                    </div>
                </div>


{% endblock %}

{% block javascripts %}
   {{ parent() }} 
{% endblock %}