{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="../../css/side_bar.css">
    <link rel="stylesheet" href="../../css/report.css">
{% endblock %}

{% block body %}

    <h2>Product Report</h2>
            <div class="table-responsive report-table">
                {% if products|length > 0 %}
                    <table class="table table-striped">
                        <thead class="col-names">
                            <tr>
                                <th scope="col"> </th>
                                <th scope="col"> </th>
                                <th scope="col">Product</th>
                                <th scope="col" >Category</th>
                                <th scope="col" >Price</th>
                                <th scope="col" >Number of Orders</th>
                            </tr>
                        </thead>
                        <tbody class="col-body">
                            {% for product in products %}
                                <tr>
                                    <td class="text-center">{{ loop.index }}</td>
                                    <td><img src="{{ product['picture'] }}" /> </td>
                                    <td>{{  product['name'] }}</td>
                                    <td>{{  product['category'] }}</td>
                                    <td>{{ "Rs."~product['unit_price'] }}</td>
                                    <td class="text-center">{{ product['order_count'] }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p class="lead">No Products available</p>
                {% endif %}
            </div>


{% endblock %}

{% block javascripts %}
   {{ parent() }} 
{% endblock %}