{% extends 'base.html.twig' %}
{% block title %}quarterly report{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="../../css/side_bar.css">
    <link rel="stylesheet" href="../../css/report.css">
{% endblock %}

{% block body %}

        <h3 class="text-center my-4">{{ cur_year~" Quaterly Sales Report"}}</h3>
                <div class="table-responsive report-table">
                    {% if sales|length > 0 %}
                        <table class="table table-striped">
                            <thead class="col-names">
                                <tr>
                                    <th scope="col">Quarter</th>
                                    <th scope="col">Number of Sold Products</th>
                                    <th scope="col"> Number of Completed Orders </th>
                                    <th scope="col">Number of Served Customers</th>
                                    <th scope="col">Revenue</th>

                                </tr>

                            </thead>
                            <tbody class="col-body">
                                {% for row in sales %}
                                <tr>
                                    <td class="text-center">{{ loop.index }}</td>
                                    <td>{{ row['product_count']? row['product_count']: 'Not recorded'}}</td>
                                    <td>{{ row['order_count'] ? row['order_count'] : 'Not Recorded' }}</td>
                                    <td>{{ row['customer_count'] ? row['customer_count'] : 'Not Recorded' }}</td>
                                    <td>{{ row['revenue'] ?  row['revenue'] : 'Not recorder' }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p class="lead">No Report available</p>
                    {% endif %}
                </div>

                <form class="form-inline my-4" method="POST" action="{{ path('quarterly_report')}}">
                    <div class="form-group">
                        <select id='year' name='year' class="form-control">
                            {% for year in years %}
                                {% if loop.index == 1 %}
                                    <option selected>{{ year['year'] }}</option>
                                {% else %}
                                    <option>{{ year['year'] }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group mx-4">
                        <input type='submit' class= 'btn btn-primary'>
                    </div>
                </form>

{% endblock %}

{% block javascripts %}
    {{ parent()  }}
{% endblock %}